@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* common */
html,body {
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
}
body {
  position: relative;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;

}
.container {
  position: relative;
  padding: 0% 3% 0 3%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

a {
  text-decoration: none;
  color: #aaa;
}

.depth_inner{
  color: #aaa;
}

.main_menu {
  color: black;
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.submenu {
  background-color: white;
  width: 100%;
  position: absolute;
  display: none;
  z-index: 99;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.submenu_inner{
  display: flex;
  justify-items: center;
  justify-content: center;
}


.sub_section {
  padding: 2rem;
}
.swiper-container {
  width: 100%;
  height: 45rem;
}

.swiper-slide {
  flex-direction: column;
  font-size: 18px;
  background: #fff;
  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: start;
  align-items: start;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 150px;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  border: 0;
}

.head1 {
  background-color: #e7e7e7;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head1_nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.head1_nav li::after {
  font-size: 0.8rem;
  content: "|";
}

.head1_nav li:last-child:after {
  content: "";
}

.head1_nav li a {
  font-size: 0.7rem;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.colabologo {
  display: flex;
  flex-direction: row;
}

.colabologo li {
  padding-left: 10px;
}

.head2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#logo_nike {
  padding: 1em;
}

.head2_nav {
  padding-left: 14rem;
}

.head2_nav ul {
  display: flex;
  flex-direction: row;
}

.head2_nav ul li a{
  padding: 10px;
  color: black;
}

.ns-heart-line::before {
  content: "\e945";
  font-size: 24px;
}

.ns-briefcase-line::before {
  content: "\e94f";
  font-size: 24px;
}

.ns-serch-large::before {
  content: "\e94b";
  font-size: 24px;
}

.head2_right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.head2_right li {
  padding: 10px;
}
.head2_right input{
  border: none;
  background-color: rgba(0, 0, 0, -1);
}
.head2_right input:focus{
  outline: none;
}

.detail_btn li:nth-child(2){
  visibility: hidden;
}

.detail_btn li:nth-child(3){
  visibility: hidden;
}

.search_bar {
  display: flex;
  background-color: #e1e1e1;
  border-radius: 50px;
  width: 9rem;
}

.search_bar button{
  border-radius: 25px;
  padding: 5px;
}
.search_bar button:hover{
  background-color: #a1a1a1;
}
/* .search_bar:hover{
  background-color: #a1a1a1;
} */

.submenu_inner {
  display: flex;
  flex-direction: row;
}

.foot_contents a{
  color: white;
}

i{
  padding: 7px;
  font-size: 1.5rem;
  border-radius: 25px;
}
i:hover{
  background-color: #a1a1a1;
}

.head_video{
  object-fit: fill;
  position:absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 750px;
}

.contents {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.head_contents {
  position: relative;
  width: 100%;
  height: 750px;
  background-size: cover;
  background: url("https://static-breeze.nike.co.kr/kr/ko_kr//cmsstatic/structured-content/65250/210713_cdp_playnew_hub_p1_bg.jpg") no-repeat center;
}

.playtime {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 7px;
  top: 50px;
  left: 150px;
  border-radius: 5px;
  color: white;
}

.videostart {
  background-color: white;
  position: absolute;
  padding: 10px;
  border-radius: 30px;
  bottom: 50px;
  left: 100px;
}

.videostart:hover{
  background-color: rgba(255, 255, 255, 0.6);
}

.buy_btn {
  display: inline-block;

}

.detail_btn {
  display: block;
}

.card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h1 {
  font-size: 2rem;
  padding: 5px;
}
.card p {
  padding: 5px;
}

.btn_left {
  margin-top: 10px;
  float: left;
  display: flex;
}
.btn_left li{
  margin-left: 5px;
}

.black_btn {
  background-color: black;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
}

.detail_btn li {
  padding: 2px;
}

.detail_btn li button{
  width: 13rem;
}

.contents2 {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.swiper-scrollbar-drag {
  margin-top: 0;
  padding: 0;
}

.swiper-wrapper {
  margin-bottom: 0;
  padding-bottom: 0;
}

.swip_card {
  margin-top: 10px;
  margin-bottom: 0;
  
}

.contents2 h2 {
  font-size: 1rem;
  margin: 5px;
  text-align: start;
}
.swip_card p {
  text-align: start;
  font-size: 0.8rem;
}

.img_two {
  display: flex;
  position : relative;
  flex-direction: row;
}

.img_two img {
  padding: 5px;
}

.img_first {
  position: relative;
}

.img_first p{
  position:absolute;
  left: 50px;
  bottom: 110px;
  color: white;
}

.img_first button {
  position:absolute;
  left: 50px;
  bottom: 70px;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  background-color: white;
  border-radius: 25px;
}

.img_second {
  position: relative;
}

.img_second button {
  position:absolute;
  left: 50px;
  bottom: 70px;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  background-color: white;
  border-radius: 25px;
}

.img_second p{
  position:absolute;
  left: 50px;
  bottom: 110px;
  color: white;
}

.top-t{
  position: relative;
}

.top-t p{
  position: absolute;
  top: 0;
  padding: 30px;
  font-weight: bold;
}

.shorts-p{
  position: relative;
}

.shorts-p p {
  position: absolute;
  font-weight: bold;
  top: 0;
  padding: 30px;
}

.pans-t{
  position: relative;
}

.pans-t p{
  position: absolute;
  top: 0;
  font-weight: bold;
  padding: 30px;

}

footer {
  background-color: black;
  color: #a1a1a1;
  width: 100%;
}

footer a {
  color: white;
}

.foot1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: black;
}
.foot1 div {
  padding: 30px;
}

.foot_contents ul li a{
  color: #a1a1a1;
  padding: 5px;
}

.foot_contents:last-child ul li{
  float: left;
}

.foot_contents:last-child ul li i {
  color: #a1a1a1;
}

.foot_contents:last-child ul li i:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.foot_contents:first-child ul li a{
  color: white;
}

.foot2 {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.foot2 i {
  color: white;
}

.foot_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.foot_left a i{
  font-size: 10px;
  align-items: flex-end;
}

.foot_left p{
  padding-left: 10px;
}

.foot3 {
  display: flex;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.foot3 div{
  padding-left: 30px;
}

.foot3 div i {
  color: #a1a1a1;
} 

.foot_right {
  padding-right: 30px;
}

.foot3 div a i:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.swiperImg:hover{
  background-color: rgba(255, 255, 255);
  filter:invert(0.1);
}
.contents{
  margin-top: 3rem;
}

.contents{
  margin-top: 3rem;
}

.main_menu {
  color: black;
}

.serch_box{
  display: none;
  right: 0;
  top: 0;
  width: 100%;
  height: 350px;
  position:absolute;
  z-index: 99999;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
}

.serch_box span {
  padding: 15px;
  font-size: 30px;
}

.serch_box input {
  background: none;
  border: none;
  padding: 0;
  width: 100px
}
.serch_box input:focus{
  outline: none;
}
.search_bar{
  background: none;
}
.serch_box p{
  padding: 15px;
  font-size: 1rem;
}

.serch_box li a{
  padding: 15px;
  font-size: 1rem;
}

@media (max-width:575px) {
  .head2{
    display: none;
  }
  .img_two{
    flex-direction: column;
  }
}